@import "./_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300;400;700&display=swap');

:root {
  --background: #333333;
  --primary: #E4E4E4;
  --primary-light: #2C2C2C;
  --secondary: #00C4F0;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	color: var(--primary);
	font-size: 18px;
	font-family: Roboto, sans-serif;
  line-height: 1.1;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  outline: none;
}

.container {
  max-width: 1330px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

button {
  outline: none;
  border: 0;
  color: inherit;
  font-size: .98rem;
}

.button{
  display: inline-block;
  background-color: var(--secondary);
  padding: 1rem;
  box-shadow: 0 2px 13px rgba(0, 196, 240, 0.42);
  border-radius: 6px;
  cursor: pointer;
}
.button_small{
  padding: .5rem;
}
.active {
  max-width: fit-content;
  border-bottom: 3px solid var(--secondary);
}

.pulse{
  animation: pulse 3s infinite;
}
.error {
  display: block;
  margin-top: .5rem;
  color: red
}
.input-error {
  border: 1px solid red !important;
}
.rotate {
  animation: rotate 1.5s ease infinite;
}
::-webkit-scrollbar-thumb {
  background-color: #FFFFFF33;
}
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--background); /* or add it to the track */
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}