@import "./_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300;400;700&display=swap');

:root {
  --background: #333333;
  --primary: #E4E4E4;
  --primary-light: #2C2C2C;
  --secondary: #00C4F0;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	color: var(--primary);
	font-size: 18px;
	font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  outline: none;
}

.container {
  max-width: 1330px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}